.login {
	position:relative;
	float:left;
	margin-top:6%;
	left:32%;
	width: 38%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.21);
	padding: 30px 0;
}
.login h2 {
	font-size:40px;
	color:#fff;
	text-align:center;
}
.login a {
	color:#00ffff;
}
.login a:hover {
	color:#ffff00;
}
.login input[type="text"] {
	padding:10px 40px 10px 10px;
	width:70%;
	height:45px;
	border:1px solid #fff;
	color:#fff;
	text-align:left;
	outline:none;
	font-size:18px;
	background:url(../images/person.png) no-repeat 95% 10px;
	margin-top:4%;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
	/*-- W3Layouts --*/
	border-radius: 4px;
}
.login input[type="password"] {
	padding:10px 40px 10px 10px;
	width:70%;
	height:45px;
	border:1px solid #fff;
	color:#fff;
	text-align:left;
	outline:none;
	font-size:18px;
	background:url(../images/lock.png) no-repeat 95% 10px;
	margin-top:6%;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
	border-radius: 4px;
}
.sign-in {
	margin-top:6%;
	margin-right:6%;
	padding:10px;
	background-color:#4C9A39;
	width:35%;
	border:none;
	color:#fff;
	font-size:20px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.sign-in:hover {
	background-color:#376D29;
	color:#fff;
}
.reset {
	margin-top:6%;
	padding:10px;
	background-color:#c0392b;
	width:35%;
	border:none;
	color:#fff;
	font-size:20px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.reset:hover {
	background-color:#791F16;
	color:#fff;	
}
